{% extends 'main/main.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/horario_final.css' %}">
    <div class="container  bg-light-gray text-dark fw-bold text-center mt-5 rounded">
        <h1 class="fw-bold text-dark ">Horario</h1>
    </div>
    
    <div class="table-responsive">
        <table class="table  align-middle table-dark table-sm table-hover">
            <thead class="thead-light fw-bold">
                <th scope="col">Hora</th>
                <th scope="col">Lunes</td>
                <td scope="col">Martes</td>
                <td scope="col">Miércoles</td>
                <td scope="col">Jueves</td>
                <td scope="col">Viernes</td>
                <td scope="col">Sabado</td>
                <td scope="col">Domingo</td>
            </thead>

        
            {% for hour in horario %} 
                <tr>
                    {% with hour_counter=forloop.counter0 %}
                        <th  class="fw-bold" scope="row">{{ hour_counter }}:00</th>
                    {% endwith %}

                {% for event in hour %}
                    {% if event.name is null %}
                        <td class=" bg-light-gray p-3 m-3 table-light"></td>
                    {% elif event.event_type == "actividad_no_fija" %}
                        <td class = " fw-bold p-3 m-3 table-info"> {{ event.name }} </td>
                    {% elif event.event_type == "suenio" %}
                        <td class = " fw-bold p-3 m-3 table-primary"> {{ event.name }} </td>
                    {% elif event.event_type == "actividad_fija" %}
                        <td class = "fw-bold p-3 m-3 table-success"> {{ event.name }} </td>
                    {% endif %}
                {% endfor %}
                </tr>
                
            {% endfor %}
        
    </table>
</div>
<div class="container text-center">
    <a class="btn btn-warning text-dark fw-bold" href="{% url 'restablecer_horario' %}">Guardar Cambios</a>
</div>

{% endblock content %}



